<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://textlinkeditor.skyprawngo.com/v1/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>8PoDq94aYfjuGKxU/MnIm99Y78pEFYj9xRCTjUmup2Y=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
